Spark Master -> http://localhost:8080

Spark Worker 1 -> http://localhost:8081

Spark Worker 2 -> http://localhost:8082

phpMyAdmin - > http://localhost:8000

In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
import pyspark
import pandas as pd
import numpy as np
import pymysql
import seaborn as sns

In [2]:
sc = pyspark.SparkContext('local[*]')

In [3]:
# pip install pandas

In [4]:
# pip install pymysql

Extract

In [5]:
# sc.stop()
spark = SparkSession.\
        builder.\
        appName("hello pyspark").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "512m").\
        getOrCreate()

In [6]:
data = spark.read.csv(path="bank.csv", sep=",", header=True).cache()

In [7]:
data.show()

+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+-----------+---+
|age|          job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|   poutcome|  y|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+-----------+---+
| 30|   unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0|nonexistent| no|
| 33|     services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4|    failure| no|
| 35|   management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1|    failure| no|
| 30|   management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0|nonexistent| no|
| 59|  blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0|nonexistent| no|
| 35|   management| single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3|    failure| no|
| 36|self-employed|married| tertiary|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|      other| no|
| 39|   technician|married|secondary|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0|nonexistent| no|
| 41| entrepreneur|married| tertiary|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0|nonexistent| no|
| 43|     services|married|  primary|     no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2|    failure| no|
| 39|     services|married|secondary|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0|nonexistent| no|
| 43|       admin.|married|secondary|     no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0|nonexistent| no|
| 36|   technician|married| tertiary|     no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0|nonexistent| no|
| 20|      student| single|secondary|     no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0|nonexistent|yes|
| 31|  blue-collar|married|secondary|     no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1|    failure| no|
| 40|   management|married| tertiary|     no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0|nonexistent| no|
| 56|   technician|married|secondary|     no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0|nonexistent| no|
| 37|       admin.| single| tertiary|     no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2|    failure| no|
| 25|  blue-collar| single|  primary|     no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0|nonexistent| no|
| 31|     services|married|secondary|     no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|      other| no|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+-----------+---+
only showing top 20 rows

Print Schema

In [8]:
data.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

show

In [9]:
data.show(5)

+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+-----------+---+
|age|        job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|   poutcome|  y|
+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+-----------+---+
| 30| unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0|nonexistent| no|
| 33|   services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4|    failure| no|
| 35| management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1|    failure| no|
| 30| management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0|nonexistent| no|
| 59|blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0|nonexistent| no|
+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+-----------+---+
only showing top 5 rows

In [10]:
data.head(5)

[Row(age='30', job='unemployed', marital='married', education='primary', default='no', balance='1787', housing='no', loan='no', contact='cellular', day='19', month='oct', duration='79', campaign='1', pdays='-1', previous='0', poutcome='nonexistent', y='no'),
 Row(age='33', job='services', marital='married', education='secondary', default='no', balance='4789', housing='yes', loan='yes', contact='cellular', day='11', month='may', duration='220', campaign='1', pdays='339', previous='4', poutcome='failure', y='no'),
 Row(age='35', job='management', marital='single', education='tertiary', default='no', balance='1350', housing='yes', loan='no', contact='cellular', day='16', month='apr', duration='185', campaign='1', pdays='330', previous='1', poutcome='failure', y='no'),
 Row(age='30', job='management', marital='married', education='tertiary', default='no', balance='1476', housing='yes', loan='yes', contact='unknown', day='3', month='jun', duration='199', campaign='4', pdays='-1', previous='0', poutcome='nonexistent', y='no'),
 Row(age='59', job='blue-collar', marital='married', education='secondary', default='no', balance='0', housing='yes', loan='no', contact='unknown', day='5', month='may', duration='226', campaign='1', pdays='-1', previous='0', poutcome='nonexistent', y='no')]

Count

In [11]:
data.count()

4521

Statistical Properties

In [12]:
data.describe(["age"]).show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|              4521|
|   mean| 41.17009511170095|
| stddev|10.576210958711263|
|    min|                19|
|    max|                87|
+-------+------------------+

Count the missing values in a column

In [13]:
for col in data.columns:
    print(col,data.filter(data[col].isNull()).count())

age 0
job 0
marital 0
education 0
default 0
balance 0
housing 0
loan 0
contact 0
day 0
month 0
duration 0
campaign 0
pdays 0
previous 0
poutcome 0
y 0

Filter based on the Condition (Transform)

In [14]:
data=data[data.education != 'unknown']

In [15]:
data = data[data.contact != 'unknown']

In [16]:
data.count()

3083

SQL (Transform)

In [17]:
data.createOrReplaceTempView("Bank")

In [18]:
spark.sql("SELECT * FROM Bank WHERE  poutcome == 'other'").count()

184

In [19]:
data = spark.sql("SELECT * FROM Bank WHERE NOT  poutcome == 'other'")

In [20]:
spark.sql("SELECT * FROM Bank WHERE  pdays < 0").count()

2315

Remove Column (Transform)

In [21]:
data = data.drop("pdays")

In [24]:
data.show()

+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+--------+-----------+---+
|age|          job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|previous|   poutcome|  y|
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+--------+-----------+---+
| 30|   unemployed| married|  primary|     no|   1787|     no|  no| cellular| 19|  oct|      79|       1|       0|nonexistent| no|
| 33|     services| married|secondary|     no|   4789|    yes| yes| cellular| 11|  may|     220|       1|       4|    failure| no|
| 35|   management|  single| tertiary|     no|   1350|    yes|  no| cellular| 16|  apr|     185|       1|       1|    failure| no|
| 35|   management|  single| tertiary|     no|    747|     no|  no| cellular| 23|  feb|     141|       2|       3|    failure| no|
| 39|   technician| married|secondary|     no|    147|    yes|  no| cellular|  6|  may|     151|       2|       0|nonexistent| no|
| 43|     services| married|  primary|     no|    -88|    yes| yes| cellular| 17|  apr|     313|       1|       2|    failure| no|
| 43|       admin.| married|secondary|     no|    264|    yes|  no| cellular| 17|  apr|     113|       2|       0|nonexistent| no|
| 36|   technician| married| tertiary|     no|   1109|     no|  no| cellular| 13|  aug|     328|       2|       0|nonexistent| no|
| 20|      student|  single|secondary|     no|    502|     no|  no| cellular| 30|  apr|     261|       1|       0|nonexistent|yes|
| 31|  blue-collar| married|secondary|     no|    360|    yes| yes| cellular| 29|  jan|      89|       1|       1|    failure| no|
| 40|   management| married| tertiary|     no|    194|     no| yes| cellular| 29|  aug|     189|       2|       0|nonexistent| no|
| 56|   technician| married|secondary|     no|   4073|     no|  no| cellular| 27|  aug|     239|       5|       0|nonexistent| no|
| 37|       admin.|  single| tertiary|     no|   2317|    yes|  no| cellular| 20|  apr|     114|       1|       2|    failure| no|
| 42|   management|divorced| tertiary|     no|     16|     no|  no| cellular| 19|  nov|     140|       3|       0|nonexistent| no|
| 44| entrepreneur| married|secondary|     no|     93|     no|  no| cellular|  7|  jul|     125|       2|       0|nonexistent| no|
| 26|    housemaid| married| tertiary|     no|    543|     no|  no| cellular| 30|  jan|     169|       3|       0|nonexistent| no|
| 41|   management| married| tertiary|     no|   5883|     no|  no| cellular| 20|  nov|     182|       2|       0|nonexistent| no|
| 56|self-employed| married|secondary|     no|    784|     no| yes| cellular| 30|  jul|     149|       2|       0|nonexistent| no|
| 53|       admin.| married|secondary|     no|    105|     no| yes| cellular| 21|  aug|      74|       2|       0|nonexistent| no|
| 68|      retired|divorced|secondary|     no|   4189|     no|  no|telephone| 14|  jul|     897|       2|       0|nonexistent|yes|
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+--------+-----------+---+
only showing top 20 rows

In [28]:
data.createOrReplaceTempView("Bank")

In [30]:
df = spark.sql("SELECT * FROM Bank").toPandas()

In [31]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,0,nonexistent,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,1,failure,no
3,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,3,failure,no
4,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,0,nonexistent,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2894,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,0,nonexistent,no
2895,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,1,failure,no
2896,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,0,nonexistent,no
2897,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,0,nonexistent,no
2898,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,0,nonexistent,no

In [32]:
df['deposit_yes'] = np.where(df['y']=='yes', '1', '0')

In [33]:
df['deposit_no'] = np.where(df['y']=='no', '1', '0')

In [34]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,previous,poutcome,y,deposit_yes,deposit_no
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,0,nonexistent,no,0,1
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,4,failure,no,0,1
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,1,failure,no,0,1
3,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,3,failure,no,0,1
4,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,0,nonexistent,no,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2894,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,0,nonexistent,no,0,1
2895,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,1,failure,no,0,1
2896,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,0,nonexistent,no,0,1
2897,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,0,nonexistent,no,0,1
2898,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,0,nonexistent,no,0,1

In [35]:
df = df.drop(columns=['y'])

In [36]:
df['month'] = pd.Categorical(df['month'] ,['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'])

In [37]:
data1 = df.sort_values("month")

In [38]:
data1.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,previous,poutcome,deposit_yes,deposit_no
2583,71,unknown,married,tertiary,no,353,no,no,cellular,27,jan,208,1,2,failure,0,1
1981,30,services,single,secondary,no,334,no,no,cellular,29,jan,389,2,0,nonexistent,0,1
1232,29,services,single,secondary,no,192,no,no,cellular,30,jan,327,4,0,nonexistent,0,1
1234,49,management,married,tertiary,no,87,no,no,cellular,29,jan,165,1,0,nonexistent,0,1
2547,66,retired,married,tertiary,no,1948,no,no,cellular,28,jan,216,1,4,success,1,0

load

In [39]:
from sqlalchemy import create_engine

In [40]:
# pip install sqlalchemy

In [41]:
username = "root"
password = "dstb"
port = 3306
database = "dstb_db"

In [42]:
pymysql.install_as_MySQLdb()

In [43]:
engine = create_engine('mysql+mysqldb://%s:%s@db:%i/%s'%(username, password, port, database))

In [44]:
data1.to_sql('Bank', engine, if_exists='replace')

phpMyAdmin - > http://localhost:8000

Query from MariaDB

In [45]:
#  pip install ipython-sql

In [46]:
%load_ext sql

In [47]:
%reload_ext sql

In [48]:
%sql mysql://root:dstb@db:3306/dstb_db

In [49]:
result = %sql select * from Bank

 * mysql://root:***@db:3306/dstb_db
2899 rows affected.

In [50]:
%sql select * from Bank limit 10

 * mysql://root:***@db:3306/dstb_db
10 rows affected.

[(2583, '71', 'unknown', 'married', 'tertiary', 'no', '353', 'no', 'no', 'cellular', '27', 'jan', '208', '1', '2', 'failure', '0', '1'),
 (1981, '30', 'services', 'single', 'secondary', 'no', '334', 'no', 'no', 'cellular', '29', 'jan', '389', '2', '0', 'nonexistent', '0', '1'),
 (1232, '29', 'services', 'single', 'secondary', 'no', '192', 'no', 'no', 'cellular', '30', 'jan', '327', '4', '0', 'nonexistent', '0', '1'),
 (1234, '49', 'management', 'married', 'tertiary', 'no', '87', 'no', 'no', 'cellular', '29', 'jan', '165', '1', '0', 'nonexistent', '0', '1'),
 (2547, '66', 'retired', 'married', 'tertiary', 'no', '1948', 'no', 'no', 'cellular', '28', 'jan', '216', '1', '4', 'success', '1', '0'),
 (2735, '45', 'blue-collar', 'married', 'primary', 'no', '185', 'yes', 'no', 'cellular', '29', 'jan', '249', '3', '0', 'nonexistent', '0', '1'),
 (1236, '40', 'management', 'single', 'tertiary', 'no', '1361', 'no', 'no', 'cellular', '29', 'jan', '1473', '1', '0', 'nonexistent', '1', '0'),
 (1530, '48', 'blue-collar', 'married', 'primary', 'no', '1678', 'no', 'no', 'cellular', '28', 'jan', '263', '2', '0', 'nonexistent', '0', '1'),
 (884, '40', 'technician', 'single', 'tertiary', 'no', '226', 'no', 'no', 'cellular', '15', 'jan', '176', '2', '0', 'nonexistent', '0', '1'),
 (892, '43', 'management', 'divorced', 'tertiary', 'no', '99', 'no', 'no', 'cellular', '29', 'jan', '24', '3', '0', 'nonexistent', '0', '1')]

In [51]:
result = %sql select * from Bank

 * mysql://root:***@db:3306/dstb_db
2899 rows affected.

In [52]:
result

[(2583, '71', 'unknown', 'married', 'tertiary', 'no', '353', 'no', 'no', 'cellular', '27', 'jan', '208', '1', '2', 'failure', '0', '1'),
 (1981, '30', 'services', 'single', 'secondary', 'no', '334', 'no', 'no', 'cellular', '29', 'jan', '389', '2', '0', 'nonexistent', '0', '1'),
 (1232, '29', 'services', 'single', 'secondary', 'no', '192', 'no', 'no', 'cellular', '30', 'jan', '327', '4', '0', 'nonexistent', '0', '1'),
 (1234, '49', 'management', 'married', 'tertiary', 'no', '87', 'no', 'no', 'cellular', '29', 'jan', '165', '1', '0', 'nonexistent', '0', '1'),
 (2547, '66', 'retired', 'married', 'tertiary', 'no', '1948', 'no', 'no', 'cellular', '28', 'jan', '216', '1', '4', 'success', '1', '0'),
 (2735, '45', 'blue-collar', 'married', 'primary', 'no', '185', 'yes', 'no', 'cellular', '29', 'jan', '249', '3', '0', 'nonexistent', '0', '1'),
 (1236, '40', 'management', 'single', 'tertiary', 'no', '1361', 'no', 'no', 'cellular', '29', 'jan', '1473', '1', '0', 'nonexistent', '1', '0'),
 (1530, '48', 'blue-collar', 'married', 'primary', 'no', '1678', 'no', 'no', 'cellular', '28', 'jan', '263', '2', '0', 'nonexistent', '0', '1'),
 (884, '40', 'technician', 'single', 'tertiary', 'no', '226', 'no', 'no', 'cellular', '15', 'jan', '176', '2', '0', 'nonexistent', '0', '1'),
 (892, '43', 'management', 'divorced', 'tertiary', 'no', '99', 'no', 'no', 'cellular', '29', 'jan', '24', '3', '0', 'nonexistent', '0', '1'),
 (384, '40', 'technician', 'married', 'secondary', 'no', '56', 'yes', 'yes', 'cellular', '29', 'jan', '194', '1', '1', 'failure', '0', '1'),
 (385, '26', 'self-employed', 'single', 'tertiary', 'no', '211', 'no', 'no', 'cellular', '29', 'jan', '168', '3', '0', 'nonexistent', '0', '1'),
 (386, '59', 'unemployed', 'married', 'primary', 'no', '0', 'no', 'no', 'cellular', '30', 'jan', '3025', '2', '0', 'nonexistent', '0', '1'),
 (2405, '37', 'management', 'married', 'tertiary', 'no', '410', 'no', 'no', 'cellular', '29', 'jan', '337', '2', '0', 'nonexistent', '0', '1'),
 (1119, '56', 'blue-collar', 'married', 'secondary', 'no', '2190', 'no', 'yes', 'cellular', '30', 'jan', '90', '2', '1', 'failure', '0', '1'),
 (2596, '52', 'unemployed', 'married', 'primary', 'no', '20', 'yes', 'no', 'telephone', '28', 'jan', '172', '1', '0', 'nonexistent', '0', '1'),
 (901, '27', 'admin.', 'single', 'tertiary', 'no', '73', 'no', 'no', 'cellular', '29', 'jan', '242', '1', '0', 'nonexistent', '0', '1'),
 (1703, '30', 'admin.', 'single', 'secondary', 'no', '1009', 'yes', 'no', 'cellular', '29', 'jan', '253', '1', '0', 'nonexistent', '0', '1'),
 (398, '33', 'management', 'single', 'tertiary', 'no', '-53', 'no', 'no', 'cellular', '29', 'jan', '617', '2', '0', 'nonexistent', '0', '1'),
 (2609, '31', 'blue-collar', 'divorced', 'secondary', 'no', '6', 'yes', 'no', 'cellular', '29', 'jan', '821', '1', '0', 'nonexistent', '0', '1'),
 (1632, '32', 'admin.', 'married', 'secondary', 'no', '0', 'no', 'no', 'cellular', '30', 'jan', '119', '3', '0', 'nonexistent', '0', '1'),
 (78, '33', 'blue-collar', 'single', 'secondary', 'no', '22', 'no', 'no', 'cellular', '30', 'jan', '76', '2', '1', 'failure', '0', '1'),
 (1261, '37', 'management', 'single', 'tertiary', 'no', '695', 'no', 'no', 'cellular', '28', 'jan', '233', '1', '0', 'nonexistent', '0', '1'),
 (696, '35', 'retired', 'married', 'primary', 'no', '285', 'yes', 'no', 'cellular', '29', 'jan', '136', '1', '0', 'nonexistent', '0', '1'),
 (833, '44', 'admin.', 'married', 'secondary', 'no', '2403', 'yes', 'no', 'cellular', '28', 'jan', '180', '2', '0', 'nonexistent', '0', '1'),
 (2544, '50', 'self-employed', 'married', 'secondary', 'no', '2061', 'yes', 'yes', 'cellular', '29', 'jan', '197', '2', '3', 'failure', '0', '1'),
 (1094, '32', 'technician', 'single', 'tertiary', 'no', '569', 'no', 'yes', 'cellular', '29', 'jan', '348', '1', '0', 'nonexistent', '0', '1'),
 (2075, '79', 'retired', 'married', 'primary', 'no', '8556', 'no', 'no', 'telephone', '18', 'jan', '326', '2', '2', 'success', '1', '0'),
 (1539, '26', 'unemployed', 'single', 'secondary', 'no', '622', 'no', 'no', 'cellular', '28', 'jan', '1451', '2', '0', 'nonexistent', '1', '0'),
 (287, '45', 'blue-collar', 'single', 'primary', 'no', '999', 'no', 'no', 'cellular', '29', 'jan', '182', '2', '0', 'nonexistent', '0', '1'),
 (1628, '46', 'management', 'single', 'tertiary', 'no', '593', 'yes', 'no', 'cellular', '29', 'jan', '190', '3', '0', 'nonexistent', '0', '1'),
 (867, '27', 'self-employed', 'single', 'secondary', 'no', '49', 'yes', 'no', 'cellular', '30', 'jan', '208', '2', '0', 'nonexistent', '0', '1'),
 (106, '55', 'technician', 'married', 'secondary', 'no', '273', 'yes', 'no', 'cellular', '29', 'jan', '84', '3', '3', 'failure', '0', '1'),
 (1964, '38', 'management', 'single', 'tertiary', 'no', '16957', 'yes', 'no', 'telephone', '29', 'jan', '208', '1', '2', 'failure', '0', '1'),
 (2439, '28', 'student', 'single', 'secondary', 'no', '28', 'no', 'no', 'cellular', '29', 'jan', '220', '2', '0', 'nonexistent', '0', '1'),
 (1499, '36', 'technician', 'married', 'tertiary', 'no', '6', 'yes', 'no', 'cellular', '27', 'jan', '100', '1', '1', 'failure', '0', '1'),
 (1516, '29', 'unemployed', 'married', 'secondary', 'no', '596', 'no', 'no', 'cellular', '30', 'jan', '510', '2', '0', 'nonexistent', '0', '1'),
 (1652, '56', 'entrepreneur', 'divorced', 'primary', 'no', '29', 'no', 'no', 'cellular', '29', 'jan', '52', '2', '1', 'failure', '0', '1'),
 (2066, '63', 'retired', 'married', 'secondary', 'no', '474', 'no', 'no', 'cellular', '25', 'jan', '423', '1', '0', 'nonexistent', '1', '0'),
 (1181, '48', 'technician', 'married', 'secondary', 'no', '340', 'yes', 'no', 'cellular', '28', 'jan', '255', '2', '0', 'nonexistent', '0', '1'),
 (1867, '42', 'retired', 'single', 'tertiary', 'no', '308', 'no', 'no', 'cellular', '30', 'jan', '114', '2', '0', 'nonexistent', '0', '1'),
 (1520, '38', 'management', 'married', 'tertiary', 'no', '223', 'no', 'no', 'cellular', '28', 'jan', '63', '1', '0', 'nonexistent', '0', '1'),
 (790, '30', 'blue-collar', 'married', 'secondary', 'no', '6', 'yes', 'no', 'cellular', '28', 'jan', '241', '3', '0', 'nonexistent', '0', '1'),
 (2231, '41', 'admin.', 'divorced', 'secondary', 'no', '1088', 'yes', 'no', 'cellular', '28', 'jan', '138', '1', '0', 'nonexistent', '0', '1'),
 (1969, '73', 'retired', 'married', 'primary', 'no', '279', 'no', 'no', 'cellular', '28', 'jan', '399', '3', '0', 'nonexistent', '1', '0'),
 (1521, '26', 'services', 'single', 'secondary', 'no', '512', 'yes', 'yes', 'cellular', '30', 'jan', '206', '5', '3', 'failure', '0', '1'),
 (1224, '39', 'technician', 'married', 'secondary', 'no', '-735', 'yes', 'no', 'cellular', '30', 'jan', '144', '5', '2', 'failure', '0', '1'),
 (781, '28', 'self-employed', 'single', 'tertiary', 'no', '4579', 'no', 'no', 'cellular', '12', 'jan', '409', '2', '0', 'nonexistent', '1', '0'),
 (852, '32', 'management', 'single', 'tertiary', 'no', '1218', 'yes', 'no', 'telephone', '28', 'jan', '70', '2', '0', 'nonexistent', '0', '1'),
 (161, '30', 'student', 'single', 'secondary', 'no', '3096', 'no', 'no', 'cellular', '26', 'jan', '123', '1', '0', 'nonexistent', '0', '1'),
 (1678, '52', 'technician', 'married', 'tertiary', 'no', '2557', 'no', 'no', 'cellular', '28', 'jan', '134', '5', '2', 'success', '1', '0'),
 (2741, '35', 'admin.', 'married', 'secondary', 'no', '147', 'yes', 'yes', 'cellular', '29', 'jan', '41', '1', '7', 'failure', '0', '1'),
 (1858, '44', 'technician', 'single', 'tertiary', 'no', '900', 'yes', 'no', 'cellular', '29', 'jan', '322', '2', '0', 'nonexistent', '0', '1'),
 (1977, '35', 'management', 'single', 'secondary', 'no', '81', 'yes', 'no', 'cellular', '29', 'jan', '79', '1', '0', 'nonexistent', '0', '1'),
 (113, '37', 'management', 'single', 'tertiary', 'no', '37', 'no', 'no', 'cellular', '28', 'jan', '253', '2', '0', 'nonexistent', '0', '1'),
 (760, '48', 'management', 'married', 'tertiary', 'no', '998', 'yes', 'no', 'cellular', '29', 'jan', '121', '3', '0', 'nonexistent', '0', '1'),
 (111, '45', 'blue-collar', 'divorced', 'secondary', 'no', '1269', 'yes', 'no', 'cellular', '29', 'jan', '549', '2', '0', 'nonexistent', '0', '1'),
 (1017, '35', 'management', 'married', 'tertiary', 'no', '1100', 'no', 'yes', 'cellular', '29', 'jan', '127', '2', '0', 'nonexistent', '0', '1'),
 (2842, '35', 'technician', 'single', 'secondary', 'no', '175', 'yes', 'no', 'cellular', '29', 'jan', '219', '1', '1', 'failure', '0', '1'),
 (1884, '32', 'student', 'married', 'secondary', 'no', '1694', 'yes', 'no', 'cellular', '28', 'jan', '929', '1', '0', 'nonexistent', '0', '1'),
 (107, '27', 'self-employed', 'single', 'secondary', 'no', '50', 'no', 'no', 'cellular', '29', 'jan', '168', '1', '0', 'nonexistent', '0', '1'),
 (2746, '46', 'services', 'divorced', 'secondary', 'no', '5', 'yes', 'yes', 'cellular', '29', 'jan', '305', '2', '0', 'nonexistent', '0', '1'),
 (1820, '53', 'blue-collar', 'single', 'secondary', 'no', '5715', 'no', 'no', 'cellular', '28', 'jan', '287', '2', '0', 'nonexistent', '0', '1'),
 (279, '54', 'admin.', 'married', 'secondary', 'no', '0', 'no', 'no', 'cellular', '28', 'jan', '161', '1', '2', 'failure', '1', '0'),
 (1818, '28', 'admin.', 'single', 'secondary', 'no', '775', 'no', 'no', 'cellular', '29', 'jan', '603', '2', '0', 'nonexistent', '0', '1'),
 (1332, '59', 'technician', 'married', 'primary', 'no', '4198', 'no', 'no', 'cellular', '14', 'jan', '309', '1', '10', 'success', '1', '0'),
 (601, '28', 'management', 'single', 'tertiary', 'no', '882', 'no', 'yes', 'cellular', '29', 'jan', '94', '1', '2', 'failure', '0', '1'),
 (1038, '37', 'management', 'married', 'tertiary', 'no', '539', 'no', 'no', 'cellular', '18', 'jan', '540', '2', '3', 'failure', '0', '1'),
 (1082, '58', 'unemployed', 'married', 'tertiary', 'no', '744', 'no', 'no', 'telephone', '28', 'jan', '38', '1', '0', 'nonexistent', '0', '1'),
 (483, '28', 'technician', 'single', 'tertiary', 'no', '102', 'no', 'no', 'cellular', '28', 'jan', '321', '2', '0', 'nonexistent', '0', '1'),
 (1424, '46', 'admin.', 'single', 'secondary', 'no', '1693', 'yes', 'no', 'cellular', '25', 'jan', '137', '1', '1', 'success', '0', '1'),
 (582, '48', 'management', 'married', 'tertiary', 'no', '866', 'no', 'no', 'cellular', '29', 'jan', '146', '2', '0', 'nonexistent', '0', '1'),
 (2664, '57', 'retired', 'married', 'secondary', 'no', '1044', 'no', 'no', 'telephone', '11', 'jan', '585', '1', '2', 'success', '1', '0'),
 (2279, '52', 'unemployed', 'married', 'primary', 'no', '-110', 'no', 'yes', 'cellular', '29', 'jan', '141', '1', '0', 'nonexistent', '0', '1'),
 (567, '59', 'management', 'single', 'secondary', 'no', '671', 'yes', 'yes', 'cellular', '29', 'jan', '219', '2', '5', 'failure', '0', '1'),
 (974, '27', 'unknown', 'single', 'tertiary', 'no', '6421', 'no', 'no', 'telephone', '28', 'jan', '147', '4', '0', 'nonexistent', '0', '1'),
 (1595, '46', 'blue-collar', 'married', 'primary', 'no', '665', 'no', 'no', 'cellular', '30', 'jan', '89', '4', '2', 'failure', '0', '1'),
 (981, '44', 'unemployed', 'single', 'secondary', 'no', '3945', 'no', 'no', 'cellular', '28', 'jan', '255', '1', '0', 'nonexistent', '0', '1'),
 (2014, '66', 'retired', 'married', 'primary', 'no', '747', 'no', 'no', 'telephone', '28', 'jan', '203', '3', '1', 'failure', '0', '1'),
 (991, '42', 'admin.', 'divorced', 'secondary', 'no', '936', 'no', 'no', 'cellular', '30', 'jan', '931', '1', '0', 'nonexistent', '1', '0'),
 (1355, '27', 'student', 'single', 'secondary', 'no', '1566', 'no', 'no', 'cellular', '30', 'jan', '164', '5', '0', 'nonexistent', '0', '1'),
 (15, '26', 'housemaid', 'married', 'tertiary', 'no', '543', 'no', 'no', 'cellular', '30', 'jan', '169', '3', '0', 'nonexistent', '0', '1'),
 (2024, '28', 'technician', 'married', 'secondary', 'no', '232', 'yes', 'yes', 'cellular', '29', 'jan', '72', '1', '1', 'failure', '0', '1'),
 (549, '51', 'admin.', 'single', 'tertiary', 'no', '16', 'yes', 'no', 'cellular', '30', 'jan', '158', '1', '0', 'nonexistent', '0', '1'),
 (1411, '29', 'entrepreneur', 'single', 'secondary', 'no', '404', 'no', 'no', 'cellular', '30', 'jan', '413', '3', '0', 'nonexistent', '0', '1'),
 (2354, '45', 'blue-collar', 'married', 'secondary', 'no', '4022', 'yes', 'no', 'cellular', '29', 'jan', '244', '3', '0', 'nonexistent', '0', '1'),
 (9, '31', 'blue-collar', 'married', 'secondary', 'no', '360', 'yes', 'yes', 'cellular', '29', 'jan', '89', '1', '1', 'failure', '0', '1'),
 (2502, '36', 'technician', 'married', 'tertiary', 'no', '167', 'yes', 'no', 'cellular', '28', 'jan', '57', '1', '0', 'nonexistent', '0', '1'),
 (1775, '54', 'technician', 'divorced', 'secondary', 'no', '1114', 'yes', 'no', 'cellular', '30', 'jan', '81', '1', '0', 'nonexistent', '0', '1'),
 (1378, '48', 'unemployed', 'married', 'secondary', 'no', '817', 'no', 'no', 'cellular', '14', 'jan', '517', '1', '4', 'success', '1', '0'),
 (2166, '26', 'management', 'married', 'tertiary', 'no', '265', 'no', 'no', 'cellular', '30', 'jan', '650', '2', '0', 'nonexistent', '0', '1'),
 (1782, '26', 'unemployed', 'single', 'secondary', 'no', '461', 'no', 'no', 'cellular', '28', 'jan', '214', '1', '0', 'nonexistent', '0', '1'),
 (522, '37', 'management', 'divorced', 'secondary', 'no', '414', 'no', 'no', 'cellular', '29', 'jan', '293', '2', '4', 'failure', '0', '1'),
 (553, '27', 'blue-collar', 'single', 'primary', 'no', '1209', 'no', 'no', 'cellular', '29', 'jan', '283', '1', '0', 'nonexistent', '0', '1'),
 (603, '49', 'management', 'single', 'secondary', 'no', '61', 'yes', 'no', 'cellular', '29', 'jan', '185', '2', '1', 'failure', '0', '1'),
 (2828, '36', 'unemployed', 'married', 'secondary', 'no', '-35', 'no', 'no', 'cellular', '30', 'jan', '339', '3', '0', 'nonexistent', '0', '1'),
 (1071, '59', 'blue-collar', 'married', 'primary', 'no', '699', 'no', 'no', 'cellular', '28', 'jan', '98', '1', '6', 'failure', '0', '1'),
 (1072, '42', 'unemployed', 'divorced', 'secondary', 'no', '759', 'no', 'no', 'cellular', '28', 'jan', '97', '1', '3', 'failure', '0', '1'),
 (640, '51', 'admin.', 'married', 'secondary', 'no', '2662', 'no', 'no', 'telephone', '28', 'jan', '148', '2', '0', 'nonexistent', '0', '1'),
 (2807, '26', 'admin.', 'single', 'secondary', 'no', '609', 'no', 'no', 'telephone', '28', 'jan', '112', '1', '0', 'nonexistent', '0', '1'),
 (922, '35', 'technician', 'married', 'secondary', 'no', '2', 'no', 'no', 'telephone', '28', 'jan', '653', '3', '0', 'nonexistent', '0', '1'),
 (649, '35', 'blue-collar', 'married', 'secondary', 'no', '6411', 'yes', 'yes', 'cellular', '30', 'jan', '144', '1', '2', 'failure', '0', '1'),
 (1284, '35', 'technician', 'married', 'secondary', 'no', '-259', 'yes', 'no', 'cellular', '29', 'jan', '381', '1', '2', 'failure', '0', '1'),
 (1903, '27', 'management', 'single', 'tertiary', 'no', '0', 'yes', 'no', 'cellular', '30', 'jan', '323', '4', '0', 'nonexistent', '0', '1'),
 (931, '28', 'admin.', 'married', 'secondary', 'no', '-97', 'yes', 'no', 'cellular', '29', 'jan', '79', '1', '2', 'success', '0', '1'),
 (1442, '44', 'technician', 'married', 'secondary', 'no', '2776', 'yes', 'no', 'cellular', '27', 'jan', '701', '1', '0', 'nonexistent', '1', '0'),
 (2871, '39', 'admin.', 'single', 'secondary', 'no', '163', 'yes', 'no', 'cellular', '30', 'jan', '107', '2', '0', 'nonexistent', '0', '1'),
 (616, '41', 'management', 'married', 'tertiary', 'no', '-29', 'no', 'no', 'cellular', '29', 'jan', '41', '2', '2', 'failure', '0', '1'),
 (949, '55', 'technician', 'married', 'secondary', 'no', '955', 'yes', 'no', 'cellular', '29', 'jan', '104', '1', '0', 'nonexistent', '0', '1'),
 (44, '31', 'services', 'married', 'secondary', 'no', '338', 'yes', 'no', 'cellular', '28', 'jan', '155', '1', '0', 'nonexistent', '0', '1'),
 (1906, '50', 'unemployed', 'divorced', 'secondary', 'no', '717', 'yes', 'no', 'cellular', '30', 'jan', '113', '1', '0', 'nonexistent', '0', '1'),
 (2874, '46', 'admin.', 'married', 'secondary', 'no', '466', 'yes', 'no', 'cellular', '29', 'jan', '169', '1', '0', 'nonexistent', '0', '1'),
 (951, '39', 'technician', 'married', 'tertiary', 'no', '14', 'no', 'no', 'cellular', '28', 'jan', '114', '2', '0', 'nonexistent', '0', '1'),
 (1605, '26', 'blue-collar', 'single', 'primary', 'no', '155', 'yes', 'no', 'cellular', '29', 'jan', '291', '1', '4', 'failure', '0', '1'),
 (202, '29', 'management', 'married', 'tertiary', 'no', '451', 'no', 'no', 'cellular', '28', 'jan', '451', '1', '0', 'nonexistent', '0', '1'),
 (920, '34', 'technician', 'single', 'secondary', 'no', '341', 'no', 'yes', 'cellular', '29', 'jan', '136', '1', '3', 'failure', '0', '1'),
 (2010, '53', 'entrepreneur', 'married', 'tertiary', 'no', '71', 'no', 'yes', 'cellular', '29', 'jan', '86', '1', '0', 'nonexistent', '0', '1'),
 (1878, '32', 'management', 'single', 'tertiary', 'no', '0', 'no', 'no', 'cellular', '5', 'feb', '550', '4', '0', 'nonexistent', '1', '0'),
 (1656, '37', 'management', 'married', 'tertiary', 'no', '767', 'no', 'yes', 'cellular', '2', 'feb', '204', '1', '0', 'nonexistent', '0', '1'),
 (1631, '38', 'student', 'single', 'tertiary', 'no', '807', 'no', 'no', 'cellular', '27', 'feb', '74', '2', '0', 'nonexistent', '0', '1'),
 (841, '54', 'unemployed', 'married', 'primary', 'no', '541', 'yes', 'no', 'cellular', '3', 'feb', '237', '3', '0', 'nonexistent', '0', '1'),
 (229, '33', 'management', 'single', 'tertiary', 'no', '1410', 'yes', 'no', 'cellular', '5', 'feb', '8', '1', '5', 'failure', '0', '1'),
 (2230, '33', 'self-employed', 'single', 'secondary', 'no', '238', 'yes', 'yes', 'cellular', '5', 'feb', '45', '5', '0', 'nonexistent', '0', '1'),
 (2085, '40', 'technician', 'married', 'secondary', 'no', '990', 'yes', 'no', 'cellular', '6', 'feb', '252', '3', '0', 'nonexistent', '0', '1'),
 (838, '37', 'services', 'single', 'secondary', 'no', '1050', 'yes', 'no', 'cellular', '3', 'feb', '586', '3', '0', 'nonexistent', '0', '1'),
 (1630, '37', 'management', 'married', 'tertiary', 'no', '5355', 'no', 'no', 'telephone', '17', 'feb', '466', '4', '0', 'nonexistent', '1', '0'),
 (1895, '41', 'technician', 'single', 'tertiary', 'no', '1646', 'yes', 'no', 'cellular', '4', 'feb', '261', '1', '6', 'success', '1', '0'),
 (294, '53', 'management', 'married', 'primary', 'no', '995', 'no', 'no', 'cellular', '4', 'feb', '200', '3', '0', 'nonexistent', '0', '1'),
 (847, '46', 'admin.', 'divorced', 'secondary', 'no', '2232', 'no', 'no', 'cellular', '13', 'feb', '121', '1', '0', 'nonexistent', '1', '0'),
 (971, '29', 'technician', 'single', 'secondary', 'no', '113', 'no', 'no', 'cellular', '12', 'feb', '328', '2', '4', 'success', '1', '0'),
 (965, '44', 'admin.', 'divorced', 'secondary', 'no', '432', 'no', 'no', 'cellular', '9', 'feb', '132', '3', '0', 'nonexistent', '0', '1'),
 (2551, '30', 'unknown', 'single', 'tertiary', 'no', '6836', 'no', 'no', 'cellular', '27', 'feb', '30', '3', '0', 'nonexistent', '0', '1'),
 (2514, '57', 'retired', 'married', 'primary', 'no', '-464', 'yes', 'no', 'cellular', '4', 'feb', '75', '1', '6', 'failure', '0', '1'),
 (896, '30', 'management', 'single', 'tertiary', 'no', '604', 'no', 'yes', 'cellular', '2', 'feb', '475', '1', '0', 'nonexistent', '0', '1'),
 (2246, '76', 'retired', 'married', 'primary', 'no', '2590', 'no', 'no', 'telephone', '9', 'feb', '68', '12', '0', 'nonexistent', '0', '1'),
 (2234, '40', 'management', 'married', 'tertiary', 'no', '89', 'yes', 'yes', 'telephone', '9', 'feb', '148', '6', '0', 'nonexistent', '0', '1'),
 (984, '30', 'services', 'married', 'secondary', 'no', '1743', 'yes', 'no', 'cellular', '5', 'feb', '192', '4', '0', 'nonexistent', '0', '1'),
 (926, '42', 'blue-collar', 'married', 'primary', 'no', '1520', 'yes', 'no', 'cellular', '5', 'feb', '115', '1', '0', 'nonexistent', '0', '1'),
 (233, '56', 'retired', 'married', 'tertiary', 'no', '478', 'no', 'no', 'cellular', '5', 'feb', '97', '1', '0', 'nonexistent', '0', '1'),
 (853, '31', 'management', 'married', 'tertiary', 'no', '2603', 'yes', 'no', 'cellular', '11', 'feb', '280', '4', '0', 'nonexistent', '1', '0'),

In [53]:
type(result)

sql.run.ResultSet

In [54]:
result = result.DataFrame()

In [55]:
result.head()

,index,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,previous,poutcome,deposit_yes,deposit_no
0,2583,71,unknown,married,tertiary,no,353,no,no,cellular,27,jan,208,1,2,failure,0,1
1,1981,30,services,single,secondary,no,334,no,no,cellular,29,jan,389,2,0,nonexistent,0,1
2,1232,29,services,single,secondary,no,192,no,no,cellular,30,jan,327,4,0,nonexistent,0,1
3,1234,49,management,married,tertiary,no,87,no,no,cellular,29,jan,165,1,0,nonexistent,0,1
4,2547,66,retired,married,tertiary,no,1948,no,no,cellular,28,jan,216,1,4,success,1,0